model_config_list: {

  config: {

    name: "cubist",

    base_path: "/models/cubist",

    model_platform: "tensorflow"

  },

  config: {

    name: "denoised_starry",

    base_path: "/models/denoised_starry",

    model_platform: "tensorflow"

  },

    config: {

    name: "mosaic",

    base_path: "/models/mosaic",

    model_platform: "tensorflow"

  },

    config: {

    name: "feathers",

    base_path: "/models/feathers",

    model_platform: "tensorflow"

  },

  config: {

    name: "scream",

    base_path: "/models/scream",

    model_platform: "tensorflow"

  },

  config: {

    name: "udnie",

    base_path: "/models/udnie",

    model_platform: "tensorflow"

  },

  config: {

    name: "wave",

    base_path: "/models/wave",

    model_platform: "tensorflow"

  },

}
